on:
  workflow_dispatch:
  push:
    branches:
      - master
    tags:
      - "*.*.*"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      id-token: "write"
      contents: "write"
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup Nix
        uses: DeterminateSystems/determinate-nix-action@v3
      - name: Use FlakeHub cache
        uses: DeterminateSystems/flakehub-cache-action@v2
      - name: Build
        run: nix build
      - name: Copy binary
        run: cp ./result/bin/container-registry ./container-registry-linux-amd64
      - name: Get version
        id: version
        run: |
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            VERSION=${GITHUB_REF_NAME}
          else
            VERSION="git-$(date +%Y%m%d)-$(git rev-parse --short HEAD)"
          fi
          echo "version=$VERSION" >> $GITHUB_OUTPUT
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.version.outputs.version }}
          name: Release ${{ steps.version.outputs.version }}
          files: ./container-registry-linux-amd64
